body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #007aff; 
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  
  .otpbox {
    width: 12px;
    height: 20px;
    border-radius: 5px;
  }
  .otpbox1{
      width: 12px;
    height: 20px;
    border-color: #83b5eb;
    border-radius: 5px;
  }
  
  .continue-verification {
    color: black;
    background-color: #cccccf;
    border-color: #cccccc;
    border-radius: 5px;
    width: 20%;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  .continue-verification:hover {
     color: white;
     background-color: #007aff; 
     border-color: #007aff;
  }
  .remember-device {
    font-size: 14px;
    color: #555;
  }
  
  .remember-device input {
    margin-right: 5px;
  }
  