*{margin: 0;
padding: 0;
box-sizing: border-box;}

:root{
  --p-dark:#242526;
}

body{color: white;
/* background: #a0a0a0; */
}


.head{
  width: 100%;
    height: 500px;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)), url(/Images/image\ 6.svg); 
    background-size: cover;
    display: flex;
    flex-direction: column; 
    /* justify-content: space-between;  */
    align-items: center; 
    gap: 100px;
    padding: 30px 60px;
    /* display: inline-flex; */
  }


.top{display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
/* height: 80px; */
/* background: #000; */
}

.top .left{display: flex;
flex-direction: row;
align-items: center;
width: 50%;
gap: 18px;
}

.logo{font-size: 36px;
  font-family: "dm sans";
}

.top a{text-decoration: none;
color: white;
transition: .2s;}

.top a:hover{color: #cccccc;}

.top a:active{color: #1A67CB;}

.top .left .left-span{
  font-size: 16px;
  font-family: "dm sans";
  display: flex;
  gap: 8px;
}


.top .right{display: flex;
align-items: center;
gap: 8px;
font-family: "dm sans";
font-size: 14px;
}

.top .right hr{
  border: 1px solid white;
  height: 30px;}

.lang{display: flex;
align-items: center;
gap: 3px;}

.btn{background: white;
  color: black;
  border-radius: 7px;
  border: none;
  padding: 10px 20px;
transition: .2s ease;
cursor: pointer;
}

  .btn:hover{
    transform: scale(0.95);
  }
  

.head-content{display: flex;
flex-direction: column;
align-items: center;
width: 70%;
gap: 20px;
}

.head-content h1{
  font-size: 48px;
  font-family: nunito;
font-weight: bold;}

.head-content p{
  font-family: "dm sans";
  font-size: 20px;
  text-align: center;}

.btn2{
  background: white;
  color: black;
  border-radius: 10px;
  border: none;
  padding: 15px 100px;
  transition: .2s ease;
  cursor: pointer;
}

.btn2:hover{
  transform: scale(0.95);
}

.features{display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
margin-top: 50px;
padding: 0 50px;
color: black;

}

.features span{font-size: 36px;
font-family: nunito;}

.features .content{display: flex;
flex-direction: row;
align-items: center;
width: 100%;
/* background: #e02e2e; */
}

.divs{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.box{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 500px;
height: 100px;
border-radius: 10px;
padding: 0 20px;
box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
font-family: serif;
/* background: rgb(61, 39, 39); */
}

.clock, .mobile{margin-left: 100px;}

.box .svg{
  /* width: 78px;
height: 72px; */
padding: 20px 25px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 5px;
}

.document .doc{background: #780EFF;}

.clock .ck{background: #2DB54B;}

.dashboard .dash{background: #C86B4E;}

.mobile .mb{background: #1E1E1E;}


.description{display: flex;
flex-direction: column;
gap: 7px;}

.document h3{font-family: "nunito";
color: #780EFF;}

.clock h3{font-family: "nunito";
  color: #2DB54B;}

.dashboard h3{font-family: "nunito";
    color: #C86B4E;}

.mobile h3{font-family: "nunito";
      color: #1E1E1E;}

.description p{font-family: "dm sans";}

.img{width: 40%;}

/* .img img{} */

.management {display: flex;
flex-direction: column;
align-items: center;
gap: 100px;
margin: 50px 100px 0;

color: black;}

.management .heading{text-align: center;}

.management .heading span{font-size: 36px;
  font-family: nunito;}

.management .document{display: flex;
flex-direction: row;
gap: 20px;}

.management h1{font-size: 64px;
font-weight: 900;
font-family: "inter";
color: rgba(0, 0, 0, 0.4);}

.img-text{display: flex;
align-items: center;
gap: 20px;}

.text{text-align: center;}

.text h4{font-size: 32px;
font-family: "nunito";}

.text p{color: var(--p-dark);
font-size: 18px;
font-family: "dm sans";}

.management .reminder{
  display: flex;
flex-direction: row;
align-items: center;
gap: 20px;
}

.reminder .img-text{display: flex;
  align-items: flex-start;}

.management .track{display: flex;
  flex-direction: row;
  gap: 20px;}


  .benefit{
    margin: 50px 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: black;
  }

  .benefit h1{font-size: 44px;
  font-weight: bold;
font-family: "nunito";}

  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }

  .small{
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1.5px solid black;
    border-radius: 15px;
    padding: 10px 18px;
    /* cursor: pointer;
    transition: .4s ease; */
}

/* .small:hover{} */

.small span{font-size: 16px;
font-family: "dm sans";
color:var(var(--p-dark));}

/* .box1{
  width: 241px;
  height: 50px;} */

  .circle{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: #1A67CB;
  }

  .service{display: flex;
  flex-direction: row;
  align-items: center;
margin: 50px 100px;
color: black;}

.service .left{
  width: 50%;
display: flex;
flex-direction: column;
gap: 40px;
}

.service .left h1{font-size: 44px;
  font-weight: bold;
font-family: "nunito";}

.service .left p{font-size: 18px;
font-family: "nunito";}

.service .right{
  width: 50%;
display: flex;
flex-direction: column;
gap: 10px;}

.mid{display: flex;
align-items: center;
padding: 8px 15px;
gap: 20px;
border: 1.5px  solid #C2C2C2;
border-radius: 0 8px 8px 0 ;
transition: .2s linear;
cursor: pointer;}

.mid:hover{
  transform:translateX(-50px);
  border-left:5px solid #780EFF ;
}
.con{border-left:3px solid #C2C2C2 ;}

.av-text{display: flex;
flex-direction: column;
gap:10px;
}

.av-text span{font-size: 20px;
font-family: "nunito";
font-weight: 500;}

.av-text p{font-size: 16px;
font-family: "dm sans";}



footer{
  height: fit-content;
  background: #0E6FFF;
display: flex;
flex-direction: column;
/* gap: 20px; */
}

footer .top{
  display: flex;
  align-items: flex-start;
justify-content: space-between;
padding: 20px 20px 0;
margin-bottom: 50px;}

footer .top .p{
  display: flex;
  flex-direction: column;
  gap: 15px;}

.p h1{font-style: 44px;
font-family: "nunito";}

.p p{font-size: 16px;
font-family: "dm sans";
}

.p span{font-size: 32px;
font-family: "nunito";}

.top .list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.top .list a{text-decoration: none;
color: #ffffff;
font-family: "dm sans";
font-size: 14px;
width: fit-content;
transition: .2s;}

.top ul a:hover{color: #1E1E1E;}

.fourth .info{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fourth .info a{
  text-decoration: none;
  color: #ffffff;
  font-family: "dm sans";
  font-size: 16px;
  font-weight: bold;
  transition: .2s;
}

.info li i{margin-right: 10px;}

.socials{display: flex;
gap: 10px;
margin-top: 20px;}

.socials i{color: #0E6FFF;}

.social-box{background: white;
padding: 5px 10px;
border-radius: 3px;
transition: .2 ease;}

.social-box:hover{
  transform: scale(1.10);
}

.social-box:active{
  transform: scale(0.90);
}

footer hr{
  border: 1px solid rgb(255, 255, 255, 0.2);}

.bottom{
  display: flex;
justify-content: space-between;
padding: 30px;
font-size: 14px;
font-family: "dm sans";
}

.bottom ul{
  list-style: none;
  display: inline-flex;
  gap: 30px;}

  .bottom ul a{
    text-decoration: none;
  color: #ffffff;
  
  transition: .2s;
  }

  .bottom ul a:hover{color: #1E1E1E;}











