.login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .login .div {
    background-color: #ffffff;
    width: 1728px;
    height: 1117px;
    position: relative;
  }
  
  .login .frame {
    position: absolute;
    width: 1728px;
    height: 135px;
    top: 0;
    left: 0;
    background-color: var(--variable-collection-PRY-color);
  }
  
  .login .frame-2 {
    display: flex;
    width: 1510px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 37px;
    left: 105px;
  }
  
  .login .div-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 60px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .login .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: -1.60px;
    line-height: 48.0px;
    white-space: nowrap;
  }
  
  .login .frame-wrapper {
    position: relative;
    width: 124px;
    height: 55px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .login .frame-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 9px;
    left: 34px;
  }
  
  .login .text-wrapper-2 {
    position: relative;
    width: 55px;
    margin-top: -1.00px;
    font-family: var(--body-lg-font-family);
    font-weight: var(--body-lg-font-weight);
    color: #000000;
    font-size: var(--body-lg-font-size);
    text-align: center;
    letter-spacing: var(--body-lg-letter-spacing);
    line-height: var(--body-lg-line-height);
    font-style: var(--body-lg-font-style);
  }
  
  .login .frame-4 {
    position: absolute;
    width: 631px;
    height: 715px;
    top: 183px;
    left: 548px;
  }
  
  .login .text-wrapper-3 {
    position: absolute;
    top: 47px;
    left: 256px;
    font-family: var(--h3-font-family);
    font-weight: var(--h3-font-weight);
    color: #414141;
    font-size: var(--h3-font-size);
    letter-spacing: var(--h3-letter-spacing);
    line-height: var(--h3-line-height);
    font-style: var(--h3-font-style);
  }
  
  .login .frame-5 {
    display: flex;
    width: 435px;
    height: 72px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 285px;
    left: 99px;
    background-color: #0e6fff;
    border-radius: 10px;
  }
  
  .login .text-wrapper-4 {
    font-family: var(--h4-font-family);
    font-weight: var(--h4-font-weight);
    color: #ffffff;
    font-size: var(--h4-font-size);
    position: relative;
    width: fit-content;
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    font-style: var(--h4-font-style);
  }
  
  .login .frame-6 {
    display: flex;
    width: 435px;
    height: 72px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 443px;
    left: 98px;
    background-color: #ececec;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d3d3d3;
  }
  
  .login .img {
    position: relative;
    width: 35px;
    height: 35px;
  }
  
  .login .text-wrapper-5 {
    font-family: var(--h5-font-family);
    font-weight: var(--h5-font-weight);
    color: #000000;
    font-size: var(--h5-font-size);
    position: relative;
    width: fit-content;
    letter-spacing: var(--h5-letter-spacing);
    line-height: var(--h5-line-height);
    font-style: var(--h5-font-style);
  }
  
  .login .frame-7 {
    display: flex;
    width: 435px;
    height: 72px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 525px;
    left: 98px;
    background-color: #ececec;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d3d3d3;
  }
  
  .login .frame-8 {
    position: absolute;
    width: 435px;
    height: 72px;
    top: 104px;
    left: 98px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #6d6a6a;
  }
  
  .login .text-wrapper-6 {
    position: absolute;
    top: 19px;
    left: 37px;
    font-family: var(--body-md-font-family);
    font-weight: var(--body-md-font-weight);
    color: #1e1e1e;
    font-size: var(--body-md-font-size);
    letter-spacing: var(--body-md-letter-spacing);
    line-height: var(--body-md-line-height);
    white-space: nowrap;
    font-style: var(--body-md-font-style);
  }
  
  .login .frame-9 {
    position: absolute;
    width: 435px;
    height: 72px;
    top: 192px;
    left: 98px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #6d6a6a;
  }
  
  .login .frame-10 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    position: absolute;
    top: 382px;
    left: 98px;
  }
  
  .login .line {
    width: 193px;
    position: relative;
    height: 1px;
    object-fit: cover;
  }
  
  .login .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--h4-font-family);
    font-weight: var(--h4-font-weight);
    color: #1e1e1e;
    font-size: var(--h4-font-size);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    font-style: var(--h4-font-style);
  }
  
  .login .line-2 {
    width: 192px;
    position: relative;
    height: 1px;
    object-fit: cover;
  }
  